</div>

    <div class="jumbotron">
      <div class="container">
        <h1><%= geddy.config.appName %></h1>
        <p class="lead">The simple, private social network.</p>
        <a class="btn btn-default" href="https://github.com/dfmcphee/simplifeed2"><i class="fa fa-code-fork"></i> Fork on Github</a>
        <a class="btn btn-default" href="/docs"><i class="glyphicon glyphicon-book"></i> Read the Documentation</a>
      </div>
    </div>


<div class="container">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-5 col-sm-push-7">
          <img class="featurette-image img-responsive" src="/img/users-screenshot.jpg" alt="Users Screenshot">
        </div>
        <div class="col-sm-7 col-sm-pull-5">
          <h2 class="featurette-heading">True privacy.</h2>
          <h3><span class="text-muted">No complicated settings.</span></h3>
          <p class="lead">Every network is completely private. Only invite those you want to share with and know those are the only people who will see it. No need to manage complicated groups and settings.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-5">
          <img class="featurette-image img-responsive" src="/img/album-screenshot.jpg" alt="Album Screenshot">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Beautiful photo galleries.</h2><h3><span class="text-muted">Share a glimpse into your life.</span></h3>
          <p class="lead">Simplifeed is a great way to share moments and memories with those you care about. Share single images or large albums. Uploads are uploaded to Amazon S3 for easy and efficient storage.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-5 col-sm-push-7">
          <img class="featurette-image img-responsive" src="/img/notifications-screenshot.jpg" alt="Notifications Screenshot">
        </div>
        <div class="col-sm-7 col-sm-pull-5">
          <h2 class="featurette-heading">Real-time. <span class="text-muted">Instant notifications.</span></h2>
          <p class="lead">Utilizing the power and speed of Node.js, Simplifeed delivers new content and notifications in real-time. Get the latest updates, as they happen, without ever needing to refresh the page.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
