</div>

    <div class="jumbotron">
      <div class="container">
        <h1><%= geddy.config.appName %></h1>
        <p class="lead">The simple, private social network.</p>
        <a class="btn btn-default" href="https://github.com/dfmcphee/simplifeed2"><i class="fa fa-code-fork"></i> Fork on Github</a>
        <a class="btn btn-default" href="/docs"><i class="glyphicon glyphicon-book"></i> Read the Documentation</a>
      </div>
    </div>


<div class="container">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-7">
          <h2 class="featurette-heading">Private. <span class="text-muted">No complicated settings.</span></h2>
          <p class="lead">The idea is to only allow those you want to join your network. Share with close friends or family and that's it. No need to manage different groups or settings. Set a password for your network and only allow users with this password to sign up for an account.</p>
        </div>
        <div class="col-sm-5">
          <img class="featurette-image img-responsive" src="/img/users-screenshot.jpg" alt="Users Screenshot">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-sm-5">
          <img class="featurette-image img-responsive" src="/img/album-screenshot.jpg" alt="Album Screenshot">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Beautiful photos. <span class="text-muted">Share your world.</span></h2>
          <p class="lead">Simplifeed is a great way to share moments and memories with those you care about. Share single images or large albums. Storage is offloaded to Amazon's S3 service for fast and efficient cloud storage.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Real-time. <span class="text-muted">Instant notifications.</span></h2>
          <p class="lead">Utilizing the power and speed of Node.js, Simplifeed delivers new content and notifications in real-time. Get the latest updates as they happen without ever needing to refresh the page.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="/img/notifications-screenshot.jpg" alt="Notifications Screenshot">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
