<div class="row">
  <div class="col-sm-12">
    <form id="user-form" class="form" action="/users" method="POST">
      <fieldset>
        <legend>Sign up</legend>
        <% if(params.errors) { %>
        <div class="control-group">
          <ul>
          <% for(var err in params.errors) { %>
            <li><%= params.errors[err]; %></li>
          <% } %>
          </ul>
        </div>
        <% } %>

        <%- partial('form', {user: params}) %>

        <div class="form-group">
          <%- contentTag('input', 'Submit', {type: 'submit', class: 'btn btn-primary'}) %>
        </div>
      </fieldset>
    </form>
  </div>
</div>
