<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form id="password-reset-form" role="form" action="/reset-password" method="POST">
        <fieldset>
          <legend>Reset your password</legend>
          <% if (params.errors) { %>
          <div class="form-group">
            <% for(var err in params.errors) { %>
              <div class="alert alert-danger"><%= params.errors[err]; %></div>
            <% } %>
          </div>
          <% } %>
          <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <%- contentTag('input', '', {type:'text', class:'form-control', name:'email'}) %>
          </div>
          <div class="well form-actions">
            <%- contentTag('input', 'Reset', {type: 'submit', class: 'btn btn-primary'}) %>
          </div>
        </fieldset>
      </form>
    </div>
</div>
