<div class="hero-unit">
  <h2>All Users</h2>
</div>

<div id="users-list">
<% if (users) { %>
  <% for (var i = 0; i < users.length; i++) { %>
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object" src="<%= getAvatar(users[i]); %>" alt="<%= users[i].username %>">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><%- linkTo(users[i].username, userPath(users[i].id)); %></h4>
      </div>
    </div>
  <% } %>
<% } %>
</div>
