<div id="comment-<%= id %>" data-comment-id="<%= id %>" class="media">

  <div class="media-body">
    <a class="pull-right edit-comment" data-comment-id="<%= id %>">Edit</a>
    <p class="lead"><%= content %></p>
  </div>
</div>
<hr/>
