<div class="edit-comment-container">
  <textarea class="form-control comment-input"></textarea>
  <div>
    <button class="btn btn-primary pull-right update-comment">Update</button>
    <button class="btn btn-default pull-right cancel-comment">Cancel</button>
    <button class="btn btn-danger delete-comment"><i class="glyphicon glyphicon-trash"></i></button>
  </div>
</div>
