<div class="media upload alert alert-default">
  <div class="media-image">
    <img class="media-object" src="<%= thumbnail_url %>" alt="Upload Thumbnail">
  </div>
  <input type="hidden" name="profileImage" value="<%= url %>" />
  <input type="hidden" name="profileThumb" value="<%= thumbnail_url %>" />
  <input type="hidden" name="profileFile" value="<%= id %>" />
</div>
