<div class="control-group">
  <label for="content" class="control-label">content</label>
  <div class="controls">
    <%- contentTag('input', post.content, {type:'text', class:'span6', name:'content'}) %>
  </div>
</div>
<div class="control-group">
  <label for="type" class="control-label">type</label>
  <div class="controls">
    <%- contentTag('input', post.type, {type:'text', class:'span6', name:'type'}) %>
  </div>
</div>
