<div class="form-group">
  <%- contentTag('textarea', post.content, {class:'form-control', name:'content'}) %>
</div>

<div class="liveurl-loader"></div>

<div class="liveurl">
    <div class="close" title="Entfernen"></div>
    <div class="inner">
        <div class="image"> </div>
        <div class="details">
            <div class="info">
                <div class="title"> </div>
                <div class="description"> </div>
                <div class="url"> </div>
            </div>

            <div class="thumbnail">
                <div class="pictures">
                    <div class="controls">
                        <div class="prev button inactive"></div>
                        <div class="next button inactive"></div>
                        <div class="count">
                            <span class="current">0</span><span> von </span><span class="max">0</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video"></div>
        </div>

    </div>
</div>

<span class="btn btn-success fileinput-button">
    <i class="glyphicon glyphicon-plus"></i>
    <span>Add photos...</span>
    <input id="post-fileupload" type="file" name="files[]" data-url="/files/upload" multiple>
</span>

<div id="progress" class="csspinner traditional" style="display:none;">

</div>

<div id="post-uploads">
  <% if (post.files) { %>
    <% for (var i=0; i < post.files.length; i++) { %>
      <%= partial('/posts/upload', {file: post.files[i]}); %>
    <% } %>
  <% } %>
</div>
