<div class="form-group">
  <%- contentTag('textarea', post.content, {class:'form-control', name:'content'}) %>
</div>

<div id="progress" class="csspinner traditional" style="display:none;">

</div>

<div id="post-uploads">
  <div class="item upload-item">
    <div class="alert alert-default dropzone">
      <p><i class="fa fa-picture-o"></i> <span>Drag and drop photos here.</span></p>
    </div>
  </div>
  <% if (post.files) { %>
    <% for (var i=0; i < post.files.length; i++) { %>
      <%= partial('/posts/upload', {file: post.files[i]}); %>
    <% } %>
  <% } %>
</div>

<span class="btn btn-success fileinput-button">
    <i class="fa fa-share-square-o"></i>
    <span>Select photos</span>
    <input id="post-fileupload" type="file" name="files[]" data-url="/files/upload" multiple>
</span>
