<div class="clearfix">
  <%- linkTo('Create a new Post', addPostPath, {class: 'btn btn-primary pull-right'}); %>
  <h2>All Posts</h2>
</div>

<div id="posts-list">
<% if (posts) { %>
  <% for (var i = 0; i < posts.length; i++) { %>
    <%= partial('/posts/show', {post: posts[i]}); %>
  <% } %>
<% } %>
</div>
