<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div id="posts-list">
      <% if (posts) { %>
        <% for (var i = 0; i < posts.length; i++) { %>
          <%= partial('/posts/show', {post: posts[i], session: session, commentsCollapse: ''}); %>
        <% } %>
      <% } %>
    </div>
    <% if (params.totalPages > 1) { %>
      <ul class="pager">
        <% if (Number(params.currentPage) !== 0) { %>
          <li class="previous"><a href="/posts?currentPage=<%= Number(params.currentPage) -1 %>">&larr; Older</a></li>
        <% } %>
        <% if (Number(params.currentPage) !== (params.totalPages -1)) { %>
          <li class="next"><a href="/posts?currentPage=<%= Number(params.currentPage) + 1 %>">Newer &rarr;</a></li>
        <% } %>
      </ul>
    <% } %>
  </div>
</div>
