.profile-photo-container {
  position: relative;

  #profile-progress {
    position:absolute;
    top:43%;
    left: 50%;
  }
}

#user-form {
  .well {
    background: #fff;
    
    input {
      margin-bottom:10px;
    }
  }
}
