/* Styles */

@import "bootstrap/bootstrap.less";
@import "font-awesome/font-awesome.less";
@import "typography.less";
@import "buttons.less";
@import "posts.less";
@import "notifications.less";
@import "uploads.less";
@import "profile.less";
@import "docs.less";
@import "justifiedGallery.less";
@import "lightbox.less";
@import "liveurl.less";

body {
  padding-top: 70px;
  background:#F2F3F7;
}

.navbar-default {
  background-color: rgba(255,255,255,0.97);
}

.badge.unread {
  background: @brand-primary;
}

.align-center {
  text-align: center;
}

.well {
  background: #fff;
}

div.jumbotron {
  background: url(/img/trianglify-background-purple.svg);
  background-size: cover;
  border-radius: 0px;
  display: block;
  color: white;
  margin-top: -20px;

  h1 {
    font-weight: 700;
    text-shadow: 0px -1px 0px #303030;
  }

  p {
    text-shadow: 0px -1px 0px #303030;
  }

  a {
    color: #fff;
  }

  a:hover {
    text-decoration: none;
    color: #eee;
  }

  a.btn-default {
    color: #1b1b1b;
  }
}

.featurette-image {
  border-radius: 20px;
}
