/* Styles */

@import "bootstrap/bootstrap.less";
@import "typography.less";
@import "buttons.less";
@import "posts.less";
@import "uploads.less";
@import "profile.less";
@import "justifiedGallery.less";
@import "lightbox.less";
@import "liveurl.less";

body {
  padding-top: 70px;
  background:#F2F3F7;
}

.navbar-default {
  background-color: rgba(255,255,255,0.97);
}

.badge.unread {
  background: @brand-primary;
}

.align-center {
  text-align: center;
}

.well {
  background: #fff;
}
